
<div class="list-group-item active mb-2"><b>NHẬP THÔNG TIN TÌM KIẾM</b></div>
<div class="col-lg-9">
    <div class="row">
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label for="simpleinput" class="form-label"> Thông tin tìm
                        kiếm
                    </label>
                </div>
                <div class="col-8">
                    <input type="text" id="simpleinput" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Kiểu văn bản </label>
                </div>
                <div class="col-8">
                    <select class="form-select" id="example-select">
                        <option> Văn bản đến </option>
                        <option> Văn bản đi </option>
                        <option> Văn bản nội bộ </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Lưu bản cứng </label>
                </div>
                <div class="col-8">
                    <select class="form-select" id="example-select">
                        <option> Chọn Phòng ban </option>
                        <option> Ban Giám đốc </option>
                        <option> Phòng Kế Hoạch Tài Vụ </option>
                        <option> Phòng Hành Chính Quản Trị </option>
                        <option> Phòng Kinh Doanh </option>
                        <option> Phòng Kỹ Thuật </option>
                        <option> Phòng Tài Chính Kế Toán </option>
                        <option> Phòng Nhân Sự </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Nguồn văn bản </label>
                </div>
                <div class="col-8">
                    <select class="form-select" id="example-select">
                        <option> FAX </option>
                        <option> EMS </option>
                        <option> Nội Bộ </option>
                        <option> Công Văn </option>
                        <option> Hành Chính</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Thư mục </label>
                </div>
                <div class="col-8">
                    <select class="select2 form-control"
                        data-toggle="select2"
                        data-placeholder="Choose ...">
                        <option value=" AK "> Alaska </option>
                        <option value=" HI "> Hawaii </option>
                        <option value="CA"> California </option>
                        <option value="NV"> Nevada </option>
                        <option value="OR"> Oregon </option>
                        <option value="WA"> Washington </option>
                        <option value="AZ"> Arizona </option>
                        <option value="CO"> Colorado </option>
                        <option value="ID"> Idaho </option>
                        <option value="MT"> Montana </option>
                        <option value="NE "> Nebraska</option>
                        <option value="NM"> New Mexico </option>
                        <option value="ND"> North Dakota </option>
                        <option value="UT"> Utah </option>
                        <option value=" WY "> Wyoming </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Nơi soạn thảo </label>
                </div>
                <div class="col-8">
                    <select class="form-select" id="example-select">
                        <option> Chọn Phòng ban </option>
                        <option> Ban Giám đốc </option>
                        <option> Phòng Kế Hoạch Tài Vụ </option>
                        <option> Phòng Hành Chính Quản Trị </option>
                        <option> Phòng Kinh Doanh </option>
                        <option> Phòng Kỹ Thuật </option>
                        <option> Phòng Tài Chính Kế Toán </option>
                        <option> Phòng Nhân Sự </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Từ ngày </label>
                </div>
                <div class="col-8">
                    <div class="mb-2 position-relative" id="datepicker1">
                        <input class="form-control" id="example-date"
                            type="date"
                            name="date">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-2 row">
                <div class="col-4">
                    <label class="form-label"> Đến ngày </label>
                </div>
                <div class="col-8">
                    <div class="mb-2 position-relative" id="datepicker1">
                        <input class="form-control" id="example-date"
                            type="date"
                            name="date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--lời chỉ dẫn-->
            <div class=" d-flex justify-content-center">
                <div class="col-9">
                    <div class="text-center col-9 mb-2">
                        <font color="#999999" style="font-size: 8pt">
                            <b>
                                <i>( Nếu không tìm theo </i>
                            </b>
                        </font>
                        <b>
                            <font color="#FF0000" style="font-size: 8pt">Từ ngày --&gt; Đến ngày</font>
                            <font color="#999999" style="font-size: 8pt"><i>, xin vui lòng bỏ trống hai ô này )</i>
                            </font>
                        </b>
                    </div>
                        
                    
                </div>
                
            </div>
           

            <!--nú lênh nhanh-->
            <div class="btnOO d-flex justify-content-center">
                <div class="col-9">
                <input type="submit" name="ctl22$Tim" class="btn btn-danger" value="Tìm" id="ctl22_Tim"  (click)="tuyChon()"   style="width:20%;">
                <input type="submit" name="ctl22$btnReset" value="Làm mới" id="ctl22_btnReset" class="btn btn-danger ms-2" style="width:20%;">
                <input type="submit" name="ctl22$btnExportfile" value="Xuất File" id="ctl22_btnExportfile" class="btn btn-danger ms-2" style="width:20%;">
                </div>
            </div>

            

            <div class="TableOO" align="center">
                <span id="ctl22_lblThongBao" style="color:Red;font-weight:bold;font-style:italic;"></span>
            </div>
        
<!--Nút lệnh tìm kiếm -->
<div class="col-lg-9" *ngIf="search_new">
    <div class="row">
        <div class="mb-3 row">
            <table id="alternative-page-datatable" class="table dt-responsive
                nowrap w-100">
                <thead > 
                    <tr > 
                        <th > STT </th>
                        <th > Kí hiệu VB </th > 
                        <th > Ngày tháng VB </th > 
                        <th > Tên loại VB và Trích yếu </th > 
                        <th > Nơi soạn thảo </th > 
                        <th > Ngày đến </th > 
                        <th > Số lượng </th > 
                    </tr > 
                </thead >
                <tbody>
                    <tr *ngFor="let i of searchsData |paginate: config">
                        <td>{{i.numerical_order}}</td>
                        <td>{{i.text_notation}}</td>
                        <td>{{i.data_text}}</td>
                        <td>{{i.text_type_name_and_excerpt}}</td>
                        <td>{{i.editing_place}}</td>
                        <td>{{i.date_of_arrival}}</td>
                        <td>{{i.quantity}}</td>
                        
                    </tr>
                </tbody>
                </table >
                <div class="list row">
                    <div class="col-md-8">
                        <pagination-controls id="paging" [previousLabel]="'quay lại'" [nextLabel]="'tiếp tục'"
                            responsive="true" responsive="true" (pageChange)="handlePageChange($event)"></pagination-controls>
                    </div>
                    <div class="col-md-4">
                        Số lượng thư mục
                        <select style="border: solid 1px rgb(230, 229, 229);" (change)="handlePageSizeChange($event)">
                            <option *ngFor="let size of pageSizes" [ngValue]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>   

<div class="col-3">
    

</div>