<div class="border">
    <div class="list-group-item active mb-3"><b>NHẬP DANH THIẾP</b></div>
    <section class="content" style="height: auto !important; min-height: 0px
        !important;">
        <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="TableTdOO-30">{{getLabel('nameCol')}}</td>
                                    <td class="TableTdOO-70">
                                        <input name="ctl25$HOTEN" type="text"
                                            id="ctl25_HOTEN"
                                            class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="TableTdOO-30">{{getLabel('phoneCol')}}</td>
                                    <td class="TableTdOO-70">
                                        <input name="ctl25$SODT" type="text"
                                            id="ctl25_SODT" class="form-control"
                                            />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="TableTdOO-30">{{getLabel('emailCol')}}</td>
                                    <td class="TableTdOO-70">
                                        <input name="ctl25$EMAIL" type="text"
                                            id="ctl25_EMAIL"
                                            class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="TableTdOO-30">{{getLabel('noteCol')}}</td>
                                    <td class="TableTdOO-70">
                                        <textarea name="ctl25$GHICHU" rows="2"
                                            cols="20" id="ctl25_GHICHU"
                                            class="form-control"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="TableTdOO-30">&nbsp;</td>
                                    <td class="TableTdOO-70"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <p class="text-center">
                                <input type="submit" name="capnhat"
                                    value="{{getLabel('upDate')}}" id="capnhat"
                                    class="btn btn-danger btn-sm"
                                    style="width:200px;" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col_3">
                    <ul class="oolist">
                        <div class="btnOO">
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
