.nav-link {
    cursor: pointer;
}
.content-table thead tr {
    background-color: #0091ff;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}
.background-1{
    background-color: #68be9f;
    color: aliceblue;

}