<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="page-title-box">
                <h4 class="page-title">Chi tiết tin</h4>
            </div>
        </div>
        <div class="col-2 my-auto">
            <abbr data-bs-toggle="modal" data-bs-target="#news-edit-modal" style="cursor: pointer;" [title]="'Thêm mới'">
                <img style="width:40px;height:auto; float: right !important;" src="assets/imgs/plus.png" />
            </abbr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quo.</h2>
            <div class="d-flex">
                <app-avatar-tooltip class="me-1" [fullname]="'Nguyen Hoai Thuong'" [size]="'xs'"></app-avatar-tooltip>
                <label>Nguyễn Hoài Thương</label>-<label>Thứ sáu, 12/08/2022 - 08:26</label>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui corporis distinctio officiis,
                vitae earum est fugit sint amet excepturi? Omnis, commodi natus temporibus culpa autem fuga consectetur
                nihil incidunt nemo non, recusandae voluptatem consequatur totam quas molestias accusamus accusantium
                quibusdam similique? Minima, in incidunt non numquam exercitationem placeat magni. Animi consectetur sed
                odio deleniti quasi, magni, itaque error esse quaerat inventore, fugit architecto repellat dolor
                voluptatem fugiat non dolorem. Aliquid nisi eaque dignissimos quod dolor temporibus? Officia officiis
                quibusdam cumque quas, aliquid cum voluptas magni eveniet recusandae perferendis? Suscipit asperiores
                earum harum, est sunt eius voluptate quasi aperiam consequatur quidem provident eligendi accusantium
                vitae aspernatur possimus laudantium voluptates! Repellat recusandae optio deleniti? Saepe incidunt modi
                minus veniam architecto inventore eum? Consequatur possimus similique deleniti totam, expedita natus
                neque quas? Inventore libero laborum culpa doloribus, consequuntur consectetur assumenda tenetur dolores
                similique vitae qui voluptatibus, iste placeat delectus, quas quia accusamus. Nobis porro ipsam aliquid
                quibusdam. Ex, rem. Voluptates facilis hic pariatur maiores blanditiis sint neque, at omnis labore
                obcaecati. Suscipit quisquam, rem repellendus totam reprehenderit similique pariatur tempore architecto
                alias beatae inventore sapiente corrupti voluptatum officiis ad autem explicabo quas ipsum quos quasi
                eveniet illo, esse quo. Labore consequatur ipsam ipsum numquam facilis vitae! Ipsum a dignissimos
                voluptatum? Iusto ut temporibus nesciunt, ullam excepturi quaerat commodi voluptates expedita, labore
                tempore consequuntur reprehenderit ab, culpa fugiat! Numquam, sunt pariatur. Dignissimos sapiente
                cupiditate modi omnis illo repellendus fugiat minima exercitationem voluptatum quo fugit, soluta
                provident culpa? Beatae veritatis dolores id quae quis molestias culpa. Cum facere ducimus repellendus
                atque nihil libero voluptatem id aut praesentium nostrum? Laboriosam ad optio mollitia corrupti
                voluptates, velit alias sit totam. Tempore magnam quisquam neque provident totam similique expedita
                veritatis recusandae iste nostrum. Quam totam repellendus vero eius? Adipisci, fugit totam? Tempora
                ipsum quidem possimus temporibus eum illo tenetur placeat cupiditate quisquam officiis, harum quibusdam
                sunt aliquam velit fugit ab. Id autem ex est modi, nesciunt sint eius, consequuntur nulla quibusdam, aut
                itaque facere exercitationem fugiat velit? Dolorum, voluptatibus! Atque itaque debitis ipsum sit
                perspiciatis in earum ab at harum soluta neque rem eveniet, nihil ex doloremque aliquid molestias
                impedit, laudantium quo alias dignissimos? Nobis illum facere aliquid at, perferendis molestias
                asperiores. Suscipit dolores praesentium quasi voluptate ducimus. Nostrum ea nobis dolores impedit
                consequatur dolorum! Quas alias veniam quisquam! Perspiciatis unde ea fugiat excepturi quaerat dolores
                doloribus quibusdam dolorem temporibus laudantium dolor, sit cupiditate accusantium nesciunt possimus
                explicabo aliquid voluptatum pariatur culpa eos, veritatis et fuga consequuntur! Culpa deleniti ex
                laudantium qui perspiciatis deserunt officiis obcaecati, harum optio aut repellat repudiandae incidunt?
                Modi molestiae iste enim natus consequuntur aut magnam aliquid corrupti, nisi beatae animi doloremque
                eum sed aperiam sequi, assumenda vel, obcaecati sit! Sequi tempora sunt odit vitae provident quos
                possimus repudiandae nam ad repellendus magnam quod dicta dolores aliquid non necessitatibus dolorum
                sapiente excepturi, suscipit porro voluptatibus saepe! Quibusdam, optio obcaecati ea consectetur
                voluptate molestiae impedit illo reprehenderit assumenda? Accusantium velit quod laboriosam quae modi
                ipsum ea est earum vero tempore enim, repudiandae quisquam amet aliquam dolores libero nesciunt.
                Numquam, vero alias beatae aliquam esse dolore corporis non odit, molestias deserunt quos doloribus
                deleniti voluptatibus, nisi facere accusamus placeat aspernatur sequi unde ullam animi accusantium
                fugiat! Voluptatem dignissimos dolorum totam, error, fuga deserunt ducimus necessitatibus deleniti et
                nulla est perferendis voluptas cumque id odit eaque adipisci officiis non blanditiis? Id eveniet
                reiciendis, eum dolore, quos dicta odio similique commodi eligendi unde quibusdam dolorum facere
                inventore aliquam deleniti debitis quas assumenda. Praesentium maxime laudantium et cumque accusamus
                dignissimos esse laboriosam repellat? Ipsum eos aperiam obcaecati sapiente possimus nemo aliquid ut
                tempora, omnis fugiat nostrum impedit at assumenda ab quaerat, ipsa velit voluptatem beatae earum
                corrupti nam rerum excepturi. Doloribus dicta perspiciatis expedita similique explicabo ex dolorum,
                repellendus dolor quo perferendis eveniet magni, aspernatur velit sequi! Unde vel iure totam quas
                placeat! Exercitationem aliquam perferendis cum ab nisi hic, quaerat magnam delectus veniam explicabo
                eveniet quisquam expedita deleniti mollitia laboriosam sint tempora nam nihil quos reiciendis labore
                itaque, ad iusto! Obcaecati quis earum repudiandae, laboriosam ea cumque aspernatur unde fugit pariatur
                laudantium accusantium enim consequatur, corporis quia dolores blanditiis! Officia modi distinctio nisi
                cumque quas dolorum ea, repellat esse laborum beatae sed quibusdam debitis. Odio aspernatur beatae sed
                accusantium cumque libero tenetur veritatis eius? Hic modi sunt ea placeat eaque voluptates quia velit
                explicabo reiciendis perspiciatis sapiente dolor dolores iusto consequuntur corporis, incidunt, ad
                itaque nostrum natus magni repellat repellendus nihil rerum. Sapiente rerum accusamus dolorum debitis
                nisi a libero in tenetur quae veritatis expedita ipsum beatae sed voluptatibus omnis fugiat
                exercitationem eaque ipsa iusto aut repudiandae sint, eum alias porro? Id voluptatum sint exercitationem
                minus? Similique, quae quis odit maiores nobis nostrum ea sunt, totam corporis, unde earum quidem
                consequuntur itaque quos culpa quisquam iusto consectetur illum aliquam eaque ab nemo neque autem. Animi
                nulla ab praesentium, ullam quibusdam eaque, quisquam quod doloribus consequatur ipsam veniam facere
                repellat nesciunt. Ipsa consectetur itaque commodi modi expedita, sunt fugiat ex obcaecati adipisci non
                rem excepturi, porro dolorem. Ex minima totam dolores iure? Exercitationem voluptatum voluptatibus,
                quibusdam libero minus iure dolor facilis doloremque distinctio vitae rerum quidem quae illo quam in
                officiis cupiditate ab laborum aperiam necessitatibus est minima repellendus. Quam rem eos aspernatur
                exercitationem suscipit id maxime animi? Nulla necessitatibus, sit perferendis tenetur natus distinctio
                libero eos recusandae quibusdam quisquam. Enim optio blanditiis tempore ducimus impedit laborum, labore,
                neque ratione, aperiam eligendi ab earum. Nobis adipisci consequuntur modi corporis. Nisi in deleniti
                sapiente, quis animi delectus et! Minima ut sed deserunt placeat nihil laboriosam pariatur molestias
                reiciendis eaque neque aperiam rerum consequuntur, enim sapiente provident? Quisquam dolor dolore enim,
                cupiditate laborum vero dolorem provident nobis deleniti voluptatibus doloribus ea quasi, obcaecati amet
                molestiae. Expedita odio labore, nam ut nobis pariatur ea corporis distinctio alias nisi laudantium sint
                numquam quam iure sunt obcaecati vitae adipisci, a est. Autem aperiam deleniti sunt, quidem quasi
                maiores illum vitae eligendi rerum nisi odit ratione optio dicta suscipit nam labore necessitatibus
                dignissimos minus at placeat error possimus voluptatum voluptates? Laboriosam veniam molestias dolor.
            </p>
            <div class="mb-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#news-edit-modal">Sửa tin này</button>
            </div>
            <div id="news-edit-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="fullWidthModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="fullWidthModalLabel">Modal Heading</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <app-news-manager></app-news-manager>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-success">Lưu</button>
                            <button type="button" class="btn btn-danger">Xoá tin này</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <div class="list-group-item active">Tin tức khác</div>
                <div *ngFor="let i of [1,2,3,4]" class="list-group-item paragraph_ellipsis"><a href="#">Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Eveniet ad quisquam dolor explicabo ipsam
                        repellat.</a></div>
            </div>
        </div>
    </div>
</div>