.select-filter-input {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-table thead tr {
    background-color: #0091ff;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
}