<div class="row">
    <div class="mb-3">
        <label for="example-select" class="form-label">Loại tin</label>
        <div class="row">
            <div class="col-10">
                <select class="form-select" id="example-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#news-type-modal" data-bs-dismiss="modal"><i
                        class="mdi mdi-thumb-up-outline"></i> </button>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="simpleinput" class="form-label">Tiêu đề:</label>
        <input type="text" id="simpleinput" class="form-control">
    </div>
    <div class="mb-3">
        <label for="simpleinput" class="form-label">Nội dung tóm tắt:</label>
        <textarea class="form-control" id="example-textarea" rows="5"></textarea>
    </div>
    <div class="mb-3">
        <label for="example-fileinput" class="form-label">Ảnh đại diện:</label>
        <input type="file" id="example-fileinput" class="form-control">
    </div>
    <div class="mb-3">
        <label for="example-fileinput" class="form-label">Nội dung:</label>
        <angular-editor></angular-editor>
    </div>
</div>