
<div class="row">
    <div class="col-8">
        <div class="row">
            <button type="button" nam="THEMTHUMUC" value="THÊM THƯ MỤC GỐC" (click)="tuyDung()"
            class="btn btn-success rounded-pill"><b>TẠO THƯ MỤC GỐC</b></button>
        </div>
    </div>
    <!--Thêm nội dung dưới này-->

    
    <!--khuất-->
    <div class="col-4" *ngIf="create_folder_new">
        <div class="ootoppage1 kichthuoc text-center">THÊM THƯ MỤC GỐC</div>
        <div class="ootoppage1 btn "> Số thứ tự</div>
                    <select id="inputState" class="form-select mb-1">
                        <option *ngFor="let i of create_foldersoMoi">
                            {{i}}
                        </option>
                    </select>
        <div class="row">
            <div class="ootoppage1 ">
                <div class="ootoppage1 btn">Tên thư mục :</div>
                <input type="text" id="simpleinput" class="form-control">
            </div>
            <div class="ootoppage1 ">
                <div class="ootoppage1 btn">Tên viết tắt :</div>
                <input type="text" id="simpleinput" class="form-control mb-2">
            </div>
        </div>
        <button type="button" class="ootoppage1 btn btn-primary rounded-pill text-center col-md-4">Lưu</button>
        
    </div>
</div>

