<div class="container-fluid">
    <ngx-loading [show]="spinnerLoading"
        [config]="{ primaryColour: 'whitesmoke', backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
    <!-- start page title -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông Báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body">
                    <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
                </div>

            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-10">
            <div class="page-title-box">
                <h4 class="page-title">Danh sách dự án thuộc dự án:<b
                        class="text-primary">{{currentProject.tenDuAn}}</b></h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-9">

            <table id="basic-datatable" class="table table-bordered table-striped border
            border-style table-hover table-centered mb-2 dt-responsive nowrap w-100 content-table">
                <thead>
                    <tr>
                        <th><span type="checkbox" title="Chọn/bỏ chọn tất cả"><input type="checkbox"
                                    name="công việc" /></span></th>
                        <th> Công việc thuộc dự án </th>
                        <th> Ngày bắt đàu </th>
                        <th> Ngày hoàn thành </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of taskByProjectData | paginate: config">
                        <td> <input type="checkbox" (change)="addlist(item.mscv,$event)" class="form-check-input"
                                [id]="item.mscv"></td>
                        <td><a [routerLink]="'/tasks/task-detail/'+item.mscv">{{item.chuDe}}</a></td>
                        <td>{{item.ngayBD|date:"dd/MM/yyyy"}}</td>
                        <td>{{item.ngayKT |date:"dd/MM/yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="list row">
                <div class="col-md-8">
                    <pagination-controls id="paging" [previousLabel]="getLabel('previousBtn')"
                        [nextLabel]="getLabel('nextBtn')" responsive="true" responsive="true"
                        (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
                <div class="col-md-4">
                    {{getLabel("itemsPerPage")}}:
                    <select style="border: solid 1px rgb(230, 229, 229);" (change)="handlePageSizeChange($event)">
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="list-group">
                <div class="list-group-item active">Tác vụ</div>
                <div class="list-group-item">
                    <button [routerLink]="'/tasks/project-list'" type="button" class="btn btn-danger w-100 mb-2">
                        Thêm/sửa/xóa Dự án
                    </button>
                    <button [routerLink]="'/tasks/pass-project'" type="button" class="btn btn-danger w-100 mb-2">
                        Đưa CV vào Dự án
                    </button>
                    <button type="button" class="btn btn-danger w-100" (click)="RemoveTasksFromProject()">
                        Xóa CV khỏi Dự án
                    </button>
                </div>
                <div class="list-group-item active">
                    Danh sách nhóm
                </div>
                <div class="list-group-item d-flex flex-column gap-3">
                    <label class="pointer" *ngFor="let item of projectData"
                        [ngClass]="{'text-danger':item.msda === currentProject.msda}"
                        (click)="changeProject(item)">{{item.stt}}.
                        {{item.tenDuAn}} <b *ngIf="item.msda === currentProject.msda">(Đang chọn)</b></label>
                </div>
            </div>
        </div>