<div class="container-fluid">
    <div class="list-group-item trangchu mb-3">TRANG CHỦ</div>
    <div class="row">
        <div class="col-9">
            <!--home-content-->
            <div class="row">
                <div class="col-3">
                    <div class="card text-white bg-primary kichthuoc mb-3 "
                        style="max-width: 20rem;">
                        <div class="card-body d-flex justify-content-center
                            flex-column align-items-center">
                            <i class='uil-briefcase-alt'></i>
                            <h5 class="card-title">29</h5>
                            <p class="card-text">Total Projects</p>
                        </div>
                    </div></div>
                <div class="col-3">
                    <div class="card text-white bg-success kichthuoc mb-3"
                        style="max-width: 20rem;">
                        <div class="card-body d-flex justify-content-center
                            flex-column align-items-center ">
                            <i class='dripicons-checklist'></i>
                            <h5 class="card-title">100</h5>
                            <p class="card-text">Total Tasks</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-white bg-danger kichthuoc mb-3"
                        style="max-width: 20rem;">
                        <div class="card-body d-flex justify-content-center
                            flex-column align-items-center ">
                            <i class='uil-users-alt'></i>
                            <h5 class="card-title ">29</h5>
                            <p class="card-text">Members</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-white bg-warning kichthuoc mb-3"style="max-width: 20rem;">
                        <div class="card-body d-flex justify-content-center flex-column align-items-center ">
                            <i class='uil-chart-line'></i>
                            <div class="indicator">
                                <i class="mdi mdi-arrow-up-bold"></i> 93%
                            </div>
                            <p class="card-text">Productivity</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--thong báo-->
            <div class="accordion custom-accordion" id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class='uil-step-backward'></i>
                                    <span class="text">Thông báo</span>
                                </div>
                                <app-expand-button [id_expand]="'collapseFour'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse show"
                        aria-labelledby="headingFour"
                        data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <div>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="d-flex">
                                            <div class="uil-arrow-circle-right">
                                                <a
                                                    href="http://localhost:4200/social/notification">Thông
                                                    báo nghĩ lễ Quốc khánh</a>
                                            </div>
                                            (<div class="uil-user-circle">Phạm
                                                Minh Nhẫn,02/09/2022</div>
                                            <div class="uil-eye">22</div>)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button [routerLink]="'/social/notification'"
                                    type="button" class="btn btn-info"> Xem tiếp
                                    <i class='uil-angle-double-right'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--công việc-->
            <div class="accordion custom-accordion"id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class='uil-clipboard-alt'></i>
                                    <span class="text">Công việc</span>
                                </div>
                                <app-expand-button
                                    [id_expand]="'collapseTrue'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseTrue" class="collapse show" aria-labelledby="headingFour"data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <ul class="nav nav-tabs mb-3">
                                <li class="nav-item">
                                    <a href="#assigned" data-bs-toggle="tab"
                                        aria-expanded="false"
                                        class="nav-link">
                                        <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                        <span class="d-none d-md-block">Được giao</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#transfer" data-bs-toggle="tab"aria-expanded="true" class="nav-link active">
                                        <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                        <span class="d-none d-md-block"> Chuyển giao</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#seen" data-bs-toggle="tab" aria-expanded="false"class="nav-link">
                                        <i class="mdi mdi-settings-outline d-md-none d-block"></i>
                                        <span class="d-none d-md-block">Được xem</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" id="assigned">
                                    <div class="row mb-2">
                                        <div class="col-4"> <canvas
                                                baseChart
                                                [data]="doughnutChartDuLieu"
                                                [type]="doughnutChartType"></canvas></div>
                                        <div class="col-8"> <canvas
                                                baseChart
                                                [data]="doughnutChartDuLieu"
                                                [type]="barChartType"></canvas></div>
                                    </div>

                                </div>
                                <div class="tab-pane show active" id="transfer">
                                    <div class="row mb-2">
                                        <div class="col-4"> <canvas
                                                baseChart
                                                [data]="doughnutChartThongTin"
                                                [type]="doughnutChartType"
                                                [options]="ChartConfig"></canvas></div>
                                        <div class="col-8"> <canvas
                                                baseChart
                                                [data]="doughnutChartThongTin"
                                                [type]="barChartType"></canvas></div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="seen">
                                    <div class="row mb-2">
                                        <div class="col-4"> <canvas
                                                baseChart
                                                [data]="doughnutChartThongTin"
                                                [type]="doughnutChartType"
                                                [options]="ChartConfig"></canvas></div>
                                        <div class="col-8"> <canvas
                                                baseChart
                                                [data]="doughnutChartThongTin"
                                                [type]="barChartType"></canvas></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button [routerLink]="'/social/notification'" type="button" class="btn btn-info"> Xem tiếp<i class='uil-angle-double-right'></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Văn bản-->
            <div class="accordion custom-accordion"id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class='uil-notes'></i>
                                    <span class="text">Văn bản</span>
                                </div>
                                <app-expand-button
                                    [id_expand]="'collapseDocument'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseDocument" class="collapse show" aria-labelledby="headingFour" data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4"> <canvas baseChart
                                        [data]="doughnutChartVanBan"
                                        [type]="doughnutChartType"></canvas></div>
                                <div class="col-8"> <canvas baseChart
                                        [data]="doughnutChartVanBan"
                                        [type]="barChartType"></canvas></div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button [routerLink]="'/social/notification'"type="button" class="btn btn-info"> Xem tiếp <i class='uil-angle-double-right'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Lịch-->
            <div class="accordion custom-accordion" id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class=' uil-calendar-alt'></i>
                                    <span class="text">Lịch</span>
                                </div>
                                <app-expand-button [id_expand]="'collapseCalendar'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseCalendar" class="collapse show" aria-labelledby="headingFour" data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <div>
                                <ul class="nav nav-tabs mb-3">
                                    <li class="nav-item">
                                        <a href="#personal-calendar"
                                            data-bs-toggle="tab"
                                            aria-expanded="false"
                                            class="nav-link">
                                            <i class="mdi mdi-home-variant
                                                d-md-none d-block"></i>
                                            <span class="d-noned-md-block">Lịch
                                                cá nhân</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#calendar" data-bs-toggle="tab" aria-expanded="true"class="nav-link active">
                                            <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                            <span class="d-none d-md-block">Lịch</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane"id="personal-calendar">
                                        <table id="basic-datatable" class="table-centered table table-bordered dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th colspan="4">Lịch tuần</th>
                                                </tr>
                                                <tr>
                                                    <th>Ngày</th>
                                                    <th>Giờ</th>
                                                    <th>Nội dung</th>
                                                    <th>Địa điểm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane show active border mb-1" id="calendar">
                                        <div>
                                            <app-calendar [eventList]="events" (getEvents)="getEvents($event)"></app-calendar></div>
                                        </div> 
                                        
                                    <div class="d-flex justify-content-end">
                                        <button [routerLink]="'/social/notification'" type="button" class="btn btn-info"> Xem tiếp <i class='uil-angle-double-right'></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tinh tức-->
            <div class="accordion custom-accordion"id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class='uil-postcard'></i>
                                    <span class="text">Tin tức</span>
                                </div>
                                <app-expand-button [id_expand]="'collapseNews'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseNews" class="collapse show" aria-labelledby="headingFour" data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <div>
                                <div class="list-group">
                                    <div class="list-group-item">
                                        <div class="d-flex">
                                            <div class="uil-arrow-circle-right">
                                                <a href="http://localhost:4200/social/news">Thông báo nghĩ lễ quốc khánh</a>
                                            </div>
                                            (<div class="uil-user-circle">Phạm Minh Nhẫn,02/09/2022</div>
                                            <div class="uil-eye">22</div>)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button [routerLink]="'/social/notification'" type="button" class="btn btn-info">Xem tiếp <i class='uil-angle-double-right'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Trang bên trái-->
        <div class="col-3">
            <div class="accordion custom-accordion" id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class=' uil-clipboard-alt'></i>
                                    <span class="text">Công việc quan tâm :</span>
                                </div>
                                <app-expand-button [id_expand]="'collapseWorknews'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseWorknews" class="collapse show" aria-labelledby="headingFour" data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            ...
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="accordion custom-accordion" id="custom-accordion-one">
                <div class="card mb-2">
                    <div class="card-header" id="headingFour">
                        <h5 class="m-0">
                            <div class="mb-2 d-flex justify-content-between">
                                <div>
                                    <i class=' uil-chart-pie-alt'></i>
                                    <span class="text">Công việc được giao :</span>
                                </div>
                                <app-expand-button [id_expand]="'collapseWork'"></app-expand-button>
                            </div>
                        </h5>
                    </div>
                    <div id="collapseWork" class="collapse show" aria-labelledby="headingFour" data-bs-parent="#custom-accordion-one">
                        <div class="card-body">
                            <canvas baseChart [data]="doughnutChartData"[type]="doughnutChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
