<div class="row">
    <div class="mb-3 d-flex justify-content-center">
        <div class="w-75">
            <label for="simpleinput" class="form-label text-center">Tên thư mục</label>
            <div class="d-flex">
                <input type="text" id="simpleinput" class="form-control">
                <button type="button" class="btn btn-success">Thêm</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table table-centered mb-0 w-75">
            <thead class="table-dark">
                <tr>
                    <th>STT</th>
                    <th>Tên thư mục</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Tên thư mục</td>
                    <td>
                        <button type="button" class="btn btn-warning"><i class="mdi mdi-wrench"></i> </button>
                        <button type="button" class="btn btn-danger"><i class="mdi mdi-window-close"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>